.defaultItemList {
    align-items: center;
    display: inline-flex;
    padding-inline: 0px;
    height: auto;
    margin: 0px;
    margin-inline-end: 2px;
    overflow: hidden;
}
.defaultItemList li {
    display: flex;
    list-style: none;
    padding: 0px 10px;
}